<section class="container" id="container">
  <div class="user-container">
    @for (item of user; track $index) {
      <div class="user-card" (click)="userSelected(item)">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="">
        <p>{{item.name}}</p>
      </div>
    }
  </div>
  <div class="chat-box" [hidden]="ischatOpen">
    <h1>Your chats will appeared!</h1>
  </div>
  <div class="chat-container"  [hidden]="!ischatOpen" >
    <div class="chat-header">
      <div class="user-img">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="">
        <h6>{{name}}</h6>
      </div>
    </div>
    <div class="chat-body">
      @for (msg of messages; track $index) {
        <div class="msg-body">
          <p> {{msg}}</p>
        </div>
      }
    </div>
    <div class="chat-footer">
      <div class="sent-msg">
        <input type="file" #file hidden="true" (change)="fileUpload($event)"/>
        <i (click)="file.click()" class="fa-solid fa-upload fa-xl"></i>
        <input [(ngModel)]="message" placeholder="Type your message here"/>
        <button (click)="messageSend()">Send</button>
      </div>
    </div>
  </div>
</section>